<template>
  <div class="<%= data.lowerName %>">HelloWorld</div>
</template>

<script>
  export default {
    name: "<%= data.name %>",
    data() {
      return {};
    },
  };
</script>

<style>
  .<%= data.lowerName %> {
  }
</style>
